<!DOCTYPE html>
<html class="no_js" id="facebook" lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="default" id="meta_referrer" name="referrer"/>
  <style nonce="ELLredvp">
  </style>
  <noscript>
   <meta content="0; URL=/?_fb_noscript=1" http-equiv="refresh"/>
  </noscript>
  <link crossorigin="use-credentials" href="/data/manifest/?is_workplace_mobile_pwa_dogfooding=0" id="MANIFEST_LINK" rel="manifest"/>
  <title id="pageTitle">
   Facebook - log in or sign up
  </title>
  <meta content="noarchive" name="bingbot"/>
  <meta content="Facebook" property="og:site_name"/>
  <meta content="https://www.facebook.com/" property="og:url"/>
  <meta content="https://www.facebook.com/images/fb_icon_325x325.png" property="og:image"/>
  <meta content="en_US" property="og:locale"/>
  <link href="https://m.facebook.com/" media="only screen and (max-width: 640px)" rel="alternate"/>
  <link href="https://m.facebook.com/" media="handheld" rel="alternate"/>
  <meta content="Log into Facebook to start sharing and connecting with your friends, family, and people you know." name="description"/>
  <link href="https://www.facebook.com/" rel="canonical"/>
  <link href="https://static.xx.fbcdn.net/rsrc.php/yB/r/2sFJRNmJ5OP.ico" rel="icon"/>
  <link crossorigin="anonymous" data-bootloader-hash="BZ+g16X" href="https://static.xx.fbcdn.net/rsrc.php/v5/y2/l/0,cross/JnrzY1mNoWJ.css" rel="stylesheet" type="text/css"/>
  <link crossorigin="anonymous" data-bootloader-hash="rjln6U6" href="https://static.xx.fbcdn.net/rsrc.php/v5/yG/l/0,cross/urzyogDzKvQ.css" rel="stylesheet" type="text/css"/>
  <link crossorigin="anonymous" data-bootloader-hash="NXPGS+n" href="https://static.xx.fbcdn.net/rsrc.php/v5/y_/l/0,cross/89pzVi39YfF.css" rel="stylesheet" type="text/css"/>
 </head>
 <body class="fbIndex UIPage_LoggedOut _-kb _605a b_c3pyn-ahh x1 Locale_en_US" dir="ltr">
  <div class="_li" id="u_0_1_NL">
   <div class="uiContextualLayerParent" id="globalContainer">
    <div class="fb_content clearfix" id="content" role="main">
     <div>
      <div class="_8esj _95k9 _8esf _8opv _8f3m _8ilg _8icx _8op_ _95ka">
       <div class="_8esk">
        <div class="_8esl">
         <div class="_8ice">
          <img alt="Facebook" class="fb_logo _8ilh img" src="https://static.xx.fbcdn.net/rsrc.php/y1/r/4lCu2zih0ca.svg"/>
         </div>
         <h2 class="_8eso">
          Connect with friends and the world around you on Facebook.
         </h2>
        </div>
        <div class="_8esn">
         <div class="_8iep _8icy _9ahz _9ah-">
          <div class="_6luv _52jv">
           <form action="/login" class="_9vtf" data-testid="royal_login_form" id="u_0_2_Su" method="post">
            <input autocomplete="off" name="jazoest" type="hidden" value="22495"/>
            <input autocomplete="off" name="lsd" type="hidden" value="AdRx1uyUNW_Ymr5pTWi8dtuTpEY"/>
            <div>
             <div class="_6lux">
              <input aria-label="Email or phone number" autocomplete="username webauthn" autofocus="1" class="inputtext _55r1 _6luy" data-testid="royal-email" id="email" name="email" placeholder="Email or phone number" type="text"/>
             </div>
             <div class="_6lux">
              <div class="_6luy _55r1 _1kbt" id="passContainer">
               <input aria-label="Password" class="inputtext _55r1 _6luy _9npi" data-testid="royal-pass" id="pass" name="pass" placeholder="Password" type="password"/>
               <div class="_9ls7" id="u_0_3_J7">
                <a href="#" role="button">
                 <div class="_9lsa">
                  <div class="_9lsb" id="u_0_4_dY">
                  </div>
                 </div>
                </a>
               </div>
              </div>
             </div>
            </div>
            <input autocomplete="off" name="login_source" type="hidden" value="comet_headerless_login"/>
            <input autocomplete="off" name="next" type="hidden" value=""/>
            <input autocomplete="off" name="shared_prefs_data" type="hidden" value=""/>
            <div class="_6ltg">
             <button class="_42ft _4jy0 _6lth _4jy6 _4jy1 selected _51sy" data-testid="royal-login-button" id="u_0_5_8X" name="login" type="submit" value="1">
              Log In
             </button>
            </div>
            <div class="_6ltj">
             <a href="https://www.facebook.com/recover/initiate/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNzcwMjIyMDMxLCJjYWxsc2l0ZV9pZCI6MzgxMjI5MDc5NTc1OTQ2fQ%3D%3D&amp;ars=facebook_login&amp;next" id="u_0_6_r8">
              Forgot password?
             </a>
            </div>
            <div class="_8icz">
            </div>
            <div class="_6ltg">
             <a ajaxify="" class="_42ft _4jy0 _6lti _4jy6 _4jy2 selected _51sy" data-testid="open-registration-form-button" href="/r.php?entry_point=login" id="u_0_0_Ef" role="button">
              Create new account
             </a>
            </div>
           </form>
          </div>
          <div class="_58mk" id="reg_pages_msg">
           <a class="_8esh" href="/pages/create/?ref_type=registration_form">
            Create a Page
           </a>
           for a celebrity, brand or business.
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="">
     <div class="_95ke _8opy">
      <div data-referrer="page_footer" data-testid="page_footer" id="pageFooter">
       <ul class="uiList localeSelectorList _2pid _509- _4ki _6-h _6-j _6-i" data-nocookies="1">
        <li>
         English (US)
        </li>
        <li>
         <a class="_sv4" dir="ltr" href="https://www.facebook.com/" id="u_0_7_kB" title="Nepali">
          नेपाली
         </a>
        </li>
        <li>
         <a class="_sv4" dir="ltr" href="https://ne-np.facebook.com/" id="u_0_8_gR" title="Hindi">
          हिन्दी
         </a>
        </li>
        <li>
         <a class="_sv4" dir="ltr" href="https://hi-in.facebook.com/" id="u_0_9_RX" title="Spanish">
          Español
         </a>
        </li>
        <li>
         <a class="_sv4" dir="ltr" href="https://es-la.facebook.com/" id="u_0_a_A0" title="Portuguese (Brazil)">
          Português (Brasil)
         </a>
        </li>
        <li>
         <a class="_sv4" dir="ltr" href="https://pt-br.facebook.com/" id="u_0_b_l7" title="Japanese">
          日本語
         </a>
        </li>
        <li>
         <a class="_sv4" dir="ltr" href="https://ja-jp.facebook.com/" id="u_0_c_xZ" title="French (France)">
          Français (France)
         </a>
        </li>
        <li>
         <a class="_sv4" dir="ltr" href="https://fr-fr.facebook.com/" id="u_0_d_Aq" title="German">
          Deutsch
         </a>
        </li>
        <li>
         <a class="_sv4" dir="ltr" href="https://de-de.facebook.com/" id="u_0_e_Gr" title="Italian">
          Italiano
         </a>
        </li>
        <li>
         <a class="_sv4" dir="rtl" href="https://it-it.facebook.com/" id="u_0_f_nU" title="Arabic">
          العربية
         </a>
        </li>
        <li>
         <a class="_sv4" dir="ltr" href="https://ar-ar.facebook.com/" id="u_0_g_sI" title="Simplified Chinese (China)">
          中文(简体)
         </a>
        </li>
        <li>
         <a ajaxify="/settings/language/language/?uri=https%3A%2F%2Fzh-cn.facebook.com%2F&amp;source=www_list_selector_more" class="_42ft _4jy0 _517i _517h _51sy" href="#" rel="dialog" role="button" title="Show more languages">
          <i class="img sp_GPvE0syHYuh sx_8e0301">
          </i>
         </a>
        </li>
       </ul>
       <div id="contentCurve">
       </div>
       <div aria-label="Facebook site links" id="pageFooterChildren" role="contentinfo">
        <ul class="uiList pageFooterLinkList _509- _4ki _703 _6-i">
         <li>
          <a href="/reg/" title="Sign Up for Facebook">
           Sign Up
          </a>
         </li>
         <li>
          <a href="/login/" title="Log into Facebook">
           Log In
          </a>
         </li>
         <li>
          <a href="https://messenger.com/" title="Check out Messenger.">
           Messenger
          </a>
         </li>
         <li>
          <a href="/lite/" title="Facebook Lite for Android.">
           Facebook Lite
          </a>
         </li>
         <li>
          <a href="https://www.facebook.com/watch/" title="Browse in Video">
           Video
          </a>
         </li>
         <li>
          <a href="https://about.meta.com/technologies/meta-pay" target="_blank" title="Learn more about Meta Pay">
           Meta Pay
          </a>
         </li>
         <li>
          <a href="https://www.meta.com/" target="_blank" title="Check out Meta">
           Meta Store
          </a>
         </li>
         <li>
          <a href="https://www.meta.com/quest/" target="_blank" title="Learn more about Meta Quest">
           Meta Quest
          </a>
         </li>
         <li>
          <a href="https://www.meta.com/smart-glasses/" target="_blank" title="Learn more about Ray-Ban Meta">
           Ray-Ban Meta
          </a>
         </li>
         <li>
          <a href="https://www.meta.ai/" title="Meta AI">
           Meta AI
          </a>
         </li>
         <li>
          <a href="https://www.meta.ai/pages/jordan-5-colorways-sneaker-style-inspiration/?utm_source=foa_web_footer" title="Meta AI more content">
           Meta AI more content
          </a>
         </li>
         <li>
          <a data-lynx-mode="hover" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2F&amp;h=AT1lcX1hS6YIpL0ucdLja5PjtIOWd29kA5Odwcs4QkKZajlaLBTLwvQ5vli6OtZsHhPsX4dKVFB_l0Jxdyw0JBt-zv2RzKgUYMjnI9Kp3MY7_5r7cTbtDUh_KuLFWOM97dwOjV11fPUguVGe" rel="nofollow" target="_blank" title="Check out Instagram">
           Instagram
          </a>
         </li>
         <li>
          <a href="https://www.threads.com/" title="Check out Threads">
           Threads
          </a>
         </li>
         <li>
          <a href="/votinginformationcenter/?entry_point=c2l0ZQ%3D%3D" title="See the Voting Information Center.">
           Voting Information Center
          </a>
         </li>
         <li>
          <a href="/privacy/policy/?entry_point=facebook_page_footer" title="Learn how we collect, use and share information to support Facebook.">
           Privacy Policy
          </a>
         </li>
         <li>
          <a href="/privacy/center/?entry_point=facebook_page_footer" title="Learn how to manage and control your privacy on Facebook.">
           Privacy Center
          </a>
         </li>
         <li>
          <a accesskey="8" href="https://about.meta.com/" title="Read our blog, discover the resource center, and find job opportunities.">
           About
          </a>
         </li>
         <li>
          <a href="/ad_campaign/landing.php?placement=pflo&amp;campaign_id=402047449186&amp;nav_source=unknown&amp;extra_1=auto" title="Advertise on Facebook.">
           Create ad
          </a>
         </li>
         <li>
          <a href="/pages/create/?ref_type=site_footer" title="Create a page">
           Create Page
          </a>
         </li>
         <li>
          <a href="https://developers.facebook.com/?ref=pf" title="Develop on our platform.">
           Developers
          </a>
         </li>
         <li>
          <a href="/careers/?ref=pf" title="Make your next career move to our awesome company.">
           Careers
          </a>
         </li>
         <li>
          <a data-nocookies="1" href="/policies/cookies/" title="Learn about cookies and Facebook.">
           Cookies
          </a>
         </li>
         <li>
          <a class="_41ug" data-nocookies="1" href="https://www.facebook.com/help/568137493302217" title="Learn about Ad Choices.">
           Ad choices
           <i class="img sp_GPvE0syHYuh sx_7d98b4">
           </i>
          </a>
         </li>
         <li>
          <a accesskey="9" data-nocookies="1" href="/policies?ref=pf" title="Review our terms and policies.">
           Terms
          </a>
         </li>
         <li>
          <a accesskey="0" href="/help/?ref=pf" title="Visit our Help Center.">
           Help
          </a>
         </li>
         <li>
          <a href="https://www.facebook.com/help/637205020878504" title="Visit our Contact Uploading &amp; Non-Users Notice.">
           Contact Uploading &amp; Non-Users
          </a>
         </li>
         <li>
          <a accesskey="6" class="accessible_elem" href="/settings" title="View and edit your Facebook settings.">
           Settings
          </a>
         </li>
         <li>
          <a accesskey="7" class="accessible_elem" href="/allactivity?privacy_source=activity_log_top_menu" title="View your activity log">
           Activity log
          </a>
         </li>
        </ul>
       </div>
       <div class="mvl copyright">
        <div>
         <span>
          Meta © 2026
         </span>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div>
   </div>
   <span>
    <img height="0" src="https://facebook.com/security/hsts-pixel.gif?c=3.2.5" style="display:none" width="0"/>
   </span>
  </div>
  <div style="display:none">
  </div>
  <link as="style" crossorigin="anonymous" href="https://static.xx.fbcdn.net/rsrc.php/v5/y2/l/0,cross/JnrzY1mNoWJ.css" rel="preload"/>
  <link as="script" crossorigin="anonymous" href="https://static.xx.fbcdn.net/rsrc.php/v4/yd/r/0p3j--akgFZ.js" nonce="ELLredvp" rel="preload"/>
  <link as="style" crossorigin="anonymous" href="https://static.xx.fbcdn.net/rsrc.php/v5/yG/l/0,cross/urzyogDzKvQ.css" rel="preload"/>
  <link as="script" crossorigin="anonymous" href="https://static.xx.fbcdn.net/rsrc.php/v4/yV/r/lc-UAfmYh9b.js" nonce="ELLredvp" rel="preload"/>
  <link as="style" crossorigin="anonymous" href="https://static.xx.fbcdn.net/rsrc.php/v5/y_/l/0,cross/89pzVi39YfF.css" rel="preload"/>
  <link as="script" crossorigin="anonymous" href="https://static.xx.fbcdn.net/rsrc.php/v4i7M54/yk/l/en_US-j/HcKIfbrqnm-.js" nonce="ELLredvp" rel="preload"/>
 </body>
</html>
